---
import '../styles/image-reveal-on-scroll/styles.scss';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Image Reveal On Scroll">
  <div class="image-reveal-on-scroll">
    <div class="header">
      <p>Scroll to reveal</p>
      <p>Codespace</p>
    </div>
    <div class="container">
      <div class="row" data-row="1">
        <div class="col">
          <div class="img-container right">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row" data-row="2">
        <div class="col"></div>
        <div class="col">
          <div class="img-container left">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
      </div>
      <div class="row" data-row="3">
        <div class="col">
          <div class="img-container right">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row" data-row="4">
        <div class="col"></div>
        <div class="col">
          <div class="img-container left">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
      </div>
      <div class="row" data-row="5">
        <div class="col">
          <div class="img-container right">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row" data-row="6">
        <div class="col"></div>
        <div class="col">
          <div class="img-container left">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
      </div>
      <div class="row" data-row="7">
        <div class="col">
          <div class="img-container right">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row" data-row="8">
        <div class="col"></div>
        <div class="col">
          <div class="img-container left">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
      </div>
      <div class="row" data-row="9">
        <div class="col">
          <div class="img-container right">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row" data-row="10">
        <div class="col"></div>
        <div class="col">
          <div class="img-container left">
            <img
              src=`https://source.unsplash.com/random/500x500?sig=${Math.random()}`
              alt=""
            />
            <p>Image alt</p>
          </div>
        </div>
      </div><div class="whitespace"></div>
    </div>
  </div>
  <script src="../scripts/image-reveal-on-scroll/scripts.js"></script>
</Layout>
